#view {
	display: none;
}

#main-panel>textarea {
	height: 100%;
	width: 100%;
}

#main-panel {
	height: 100%;
	width: 100%;
}

#wrapper {
	display: flex;
	height: 100%;
}

body {
	height: 100%;
}

html {
	height: 90%;
}

#left-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
	background-color: burlywood;
}

#save-load-div {
	display: flex;
}

#save-load-div>* {
	width: 50%;
}

button {
	width: 100%;
}

* {
	font-family: monospace;
}