.boxsizingBorder {
	box-sizing: border-box;
}

#editor {
	height: 100%;
	width: 100%;
	resize: none;
}

#view {
	font-family: monospace;
	height: 100%;
	width: 100%;
}

.hide {
	display: none;
}

body {
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
	text-align: center;
}

.comment {
	background-color: black;
	color: white;
	padding: 0 10px;
}

.chorus {
	border-left: solid 3px black;
}

#side-panel {
	max-width: 400px;
	border: solid 1px blue;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

#main-panel {
	width: 100%;
	border: solid 1px red;
	text-align: left;
}

#wrapper {
	height: 100%;
	display: flex;
}

h1, h2 {
	margin: 0;
	padding: 10px 0;
}